{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="description" content="LAB 8">
   <meta name="author" content="{{author}}">
   <!-- bootstrap csss -->
   <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans|Open+Sans|Spectral+SC" rel="stylesheet">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
   <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
   <link rel="shortcut icon" href="">

   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">
   <link rel="stylesheet" type="text/css" href="{% static 'css/tugas2.css' %}" />
   <script type="text/javascript" src="//platform.linkedin.com/in.js">
    api_key:   81yoq6uvmsgnhn
    authorize: true
    lang:  en_US
</script>
   <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="{% static 'css/forum.css' %}" />
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

   <title>
       {% block title %} Job Seeker {% endblock %}
   </title>
</head>
<body>
   <header>
     
   </header>
   <content>
           {% block content %}
               <!-- content goes here -->
           {% endblock %}
   </content>
   <footer>
      <hr>
        {% block footer %}

          <h1 style="text-align:center">
            <small><em><p style="text-align: center">&copy; Anas, Lila, Rama</p> </em></small>
          </h1>
    <!-- Your Footer Here -->
    {% endblock %}
   </footer>
   <!-- Jquery n Bootstrap Script -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
   <script src="https://npmcdn.com/bootstrap@4.0.0-alpha.5/dist/js/bootstrap.min.js"></script>
   <script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="//platform.linkedin.com/in.js">
    api_key:   81yoq6uvmsgnhn
    authorize: true
    lang:  en_US
    onLoad: onLinkedInLoad
    scope: r_basicprofile r_emailaddress
</script>
   <script type="text/javascript" src="{% static 'js/tugas2.js' %}"></script>
   

 
   
   
</body>
</html>