{% extends "fitur_forum/layout/base.html" %}
{% load staticfiles %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/forum.css' %}" />
<h2 class="main-title" style="font-weight:bold; font-size: 50px"> JOB FORUM </h2>

{% block header %}
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
            </button>
            <a target="_blank" href="#" class="navbar-brand"> Forum Lowongan Pekerjaan</a>
        </div>
        <div class="collapse navbar-collapse">
            
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span> 
                        <strong> Lila Asfari</strong>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="navbar-login">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="text-center">
                                            <span class="glyphicon glyphicon-user icon-size"></span>
                                        </p>
                                    </div>
                                    <div class="col-lg-8">
                                        <p class="text-left"><strong>Lila Asfari</strong></p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="navbar-login navbar-login-session">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p>
                                            <a href="{% url 'forumku:auth_logout' %}" class="btn btn-danger btn-block" onclick="return confirm('Keluar?')">Logout</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}

<div class="jumbotron jumbotron-fluid text-center" style="margin-bottom: 0px; margin-top: 0px; background-image: url(https://imgur.com/a/fCOEx.jpg)">    
  <div class="container">
    <img class="rounded-circle" src="{% static 'image/logo.png' %}" alt="Generic placeholder image" style="width:270px;height:175px;">
    <h1 class="display-3" style="font-family: sans-serif ;">Forum Lowongan Pekerjaan</h1>
    <h4 class="lead" style="fontfamily: Lucida">Temukan lowongan pekerjaan disini!</h4>
  </div>
</div>

<section name="my-list" id="show-forum" style="padding-bottom: 20px; padding-top: 0px">
    {% if message_list %}
        {% for data in message_list %}
            <div class="container" style="padding-top: 0px">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="media" style="padding: 40px">
                            <div class="media-left">
                                <a href="https://ibb.co/gwytub">
                                  <img src="https://thumb.ibb.co/gwytub/architecture_1448221_960_720.jpg" alt="architecture_1448221_960_720" border="0" class="media-object img-circle" style="width:75px">
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="/forumku/delete_forum/{{ data.id }}" class="close">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                                <h4 class="media-heading"><strong>{{data.title}}</strong> <small><i>Posted on {{data.created_date}}</i></small></h4>
                                <p>{{data.message}}</p>
                                

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
         <div class="container text-center"  style="padding-top: 15px;">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div id="empty" class="alert alert-danger">
                        <strong>Oops!</strong> Belum ada forum.
                    </div>
                    
                </div>
            </div>
            
        </div>
    {% endif %}
    
</section>


{% if message_list.has_other_pages %}
    <ul class="pagination">
        {% if message_list.has_previous %}
            <li><a href="?page={{ message_list.previous_page_number }}">&laquo;</a></li>
        {% else %}
            <li class="disabled"><span>&laquo;</span></li>
        {% endif %}

        {% for i in message_list.paginator.page_range %}
            {% if message_list.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if message_list.has_next %}
              <li><a href="?page={{ message_list.next_page_number }}">&raquo;</a></li>
        {% else %}
              <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
{% endif %}

<section name="form" id = post-forum>
    <h2>Job Forum</h2>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <form id="form" method="POST" action="{% url 'forumku:add_message' id %}">
                  {% csrf_token %}
                  {{ message_form }}
                  <button type="submit" class="btn btn-default">Submit</button>
                  <br>
                </form>
            </div>
        </div>
        
    </div>
</section>



{% endblock %}
