{% extends "tugas2/layout/base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
	<h3 id="lowongan">Lowongan Kerja</h3>
	<section id="forum" class="row">
		<div class="list-group">
            {% if form_list %}
                {% for form in form_list %}
                    <a class="list-group-item clearfix">
                        <p>{{ form.pengguna.company_name }} </p>
                        <p>{{ form.isi}}</p>
                    </a>
                    <h2>bagian comment</h2>
                    {% for comment in comment_list %}

                      {% if comment.forum == form %}
                      <a class="list-group-item clearfix">
                          <p>{{ comment.nama }}</p>
                          <p>{{ comment.description}}</p>
                      </a>
                      {% endif %}
                    {% endfor %}
                {% endfor %}

            {% else %}
                <div class="alert alert-danger text-center">
                    <strong>Oops!</strong> Tidak ada Forum
                </div>
            {% endif %}
            
        </div>
	</section>

	<section id="comment" class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-10">
            <section name="input-list" id="input-list">
                <div class="col-sm-12">

                    <div id="avatar_perusahaan" class="col-sm-4">
                        IMG
                    </div>
                    <div id="form_perusahaan" class="col-sm-8">
                        <form id="form" method="POST" action="{% url 'appnyajadi-1:add_comment' %}">
                            {% csrf_token %}

                            {{ lowongan_form}}
                            <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Submit">
                            <br>
                        </form> 
                    </div>
                </div>

            </section>     
        </div>
	</section>

	<section id="pagination">
		{% if form_list.has_other_pages %}
                <ul class="pagination">
                    {% if form_list.has_previous %}
                        <li><a href="{% url 'appnyajadi-1:index' %}">&laquo;</a></li>
                        <li><a href="?page={{ form_list.previous_page_number }}">&lsaquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&lsaquo;</span></li>
                    {% endif %}
                    {% for page in page_range %}
                        {% if mahasiswa_list.number == page %}
                            <li class="active"><span>{{ page }} <span
                                    class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li><a href="?page={{ page }}">{{ page }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if form_list.has_next %}
                        <li><a href="?page={{ form_list.next_page_number }}">&rsaquo;</a></li>
                        <li><a href="?page={{ form_list.paginator.num_pages }}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&rsaquo;</span></li>
                    {% endif %}
                </ul>
            {% endif %}
	</section>
		


	<section id="login" class="row">
		<script type="in/Login"></script>

	</section>
</div>

    <!-- display profile info -->
    <!-- display profile info -->
<div id="profileData" style="display: none;">
    <p><a href="javascript:void(0);" onclick="logout()">Logout</a></p>
    
    <div class="info">
        <p id="name"> </p>
        <p id="intro"> </p>
        <p id="email"> </p>
        <p id="location"> </p>
        <p id="link"> </p>
        <form id="form" method="POST" action="{% url 'appnyajadi-1:dashboard'%}">
             {% csrf_token %}
                  {{ message_form }}
                  <button type="submit" class="btn btn-default">Forum Lowongan Pekerjaan</button>
                  <br>
                </form>
    </div>
</div>
<!-- bootstrap csss -->

     

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="{{author}}">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">    
    <link rel="stylesheet" type="text/css" href="{% static 'css/tugas2_Profile.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    <!-- bootstrap csss -->


</head>
<div class="container" id="bgContent">
      <div id = "over" class="text-center">
        <h3 style="text-align:center; color: black">
        <small><em> <p style="color: black"> <b> Welcome! </b> </p> </em></small>
        <hr style="border: 0.5px solid black" />​
        </h3>

        <img class="image-fluid"  src = "http://www.otextechnology.com/images/services/hucapital.png" style= "max-width:18%; max-height: 500px;  border-radius: 50%; margin-top: 20px">

        <h2 id = "namaPerusahaan" style="color:black text-align: center;"><b>Nama Perusahaan</b></h2>
        <h4 id = "deskripsi" style="color:black text-align: center;"> Deskripsi Perusahaan</h4>
        
        <a href="{% url 'appnyajadi-1:dashboard'%}"><button class = "button"> lihat forum</button></a>
        <button class = "button"> Cari Mahasiswa</button>

    </div>

  <content >
  <hr style="border: 1px solid black" />​
      <div class="row">
          <table style="width:50%; margin-top: 5px; margin-left: 400px ;" align= "center";>
          <style>
            table, th, td {
              color: black;
              height: 35px;
              align-content: center;
            }
          </style>
              <tr >
              <th>Nama Perusahaan</th>
              <td id = "name"><b></b></td>
              </tr>

              <tr>
              <th >Introduction</th>
              <td id = "intro"><b></b></td>
              </tr>

              <tr>
              <th >email Perusahaan</th>
              <td id = "email"><b></b></td>
              </tr>


              <tr>
              <th >Lokasi</th>
              <td id = "lokasi"><b></b></td>
              </tr>

          </table>
          <p></p>
          <hr style="border: 1px solid black" />​
         
      </div>
       <hr style="border: 1px solid black">​
  </div>

  </content>
</div>


<script type="text/javascript">
  console.log("coba atas")
  getSessionDataCompany();

  function getSessionDataCompany(){
    console.log("ahha");
    var company = JSON.parse(sessionStorage.company);
    console.log (company);
    console.log("ahha");
    document.getElementById("namaPerusahaan").innerHTML = company.name;
    document.getElementById("deskripsi").innerHTML = '"'+company.description + '"';
    document.getElementById("tipe").innerHTML = company.companyType.name;
    document.getElementById("Year").innerHTML = company.foundedYear;
    document.getElementById("website").innerHTML = company.websiteUrl;
    document.getElementById("Spesialisasi").innerHTML = company.specialties.values[0] + ", " + company.specialties.values[1];

  }

</script>
</html>
{% endblock %}


